
/*---------- MAIN MENU ----------------*/

.bgNav{
	background-color: #f2f2f2;
}
.nav-bar{
	font-family: arial, sans-serif;
	background-color: #f2f2f2;
	padding: 0px;
}
.menu {
	clear: both;
	margin: 0 auto;
	background-color: #f2f2f2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2);
	background-image: -moz-linear-gradient(top, #f2f2f2, #f2f2f2);
	background-image: -ms-linear-gradient(top, #f2f2f2, #f2f2f2);
	background-image: -o-linear-gradient(top, #f2f2f2, #f2f2f2);
	background-image: linear-gradient(top, #f2f2f2, #f2f2f2);

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2f2f2, endColorstr=#3d3d3d);
}



.menu,
.menu ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu li {
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	margin: 0;
	padding: 0;
	border: 0;
}

.menu li:hover {
	z-index: 10000;
	white-space: normal;
}

.menu li li {
	float: none;
}

.menu ul {
	visibility: hidden;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
}

.menu li:hover > ul {
	visibility: visible;
	top: 100%;
}

.menu li li:hover > ul {
	top: 0;
	left: 100%;
}

.menu:after,
.menu ul:after {
	display: block;
	visibility: hidden;
	clear: both;
	overflow: hidden;
	height: 0;
	content: ".";
}

.menu,
.menu ul {
	min-height: 0;
}

.menu ul,
.menu ul ul {
	margin: 0;
	padding: 0;
}

.menu ul li a:hover,
.menu li li a:hover {
	color: #484848;
	text-decoration: none;
}

.menu ul {
	width: auto;
	min-width: 15em;
	margin-top: 1px;
}

.menu a {
	display: block;
	position: relative;
	height: 45px;
	margin: 0;
	padding: 0 0.9em;
	border-left: none;
	color: #4d4d4d;
	font-size: 13px;
	font-weight: 700;
	line-height: 45px;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
}

.menu a:hover {
	color: #b9262d;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	background-image: -webkit-linear-gradient(top, #fff, #fff);
	background-image: -moz-linear-gradient(top, #fff, #fff);
	background-image: -ms-linear-gradient(top, #fff, #fff);
	background-image: -o-linear-gradient(top, #fff, #fff);
	background-image: linear-gradient(top, #fff, #fff);

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#fff);
}

ul.menu > li:hover {
	color: #b9262d;
	background-color: #fff;
}

.menu .current_page_item a,
.menu .current-menu-item a {
	background-color: #f2f2f2;
}

.front-page .menu .current_page_item a {
	background: none;
	background-color: transparent;
	background-image: none;

	filter: none;
}

.menu li li {
	width: auto;
	margin: -1px 0 1px 0;
	border: 1px solid #e5e5e5;
	color: #444;
	background: #fff;
	background-image: none;

	filter: none;
}

.menu li li a {
	height: auto;
	padding: 5px 10px;
	border: none;
	color: #4d4d4d;
	background: transparent !important;
	text-shadow: none;
	font-size: 12px;
	font-weight: 400;
	line-height: 25px;
	white-space: nowrap;
}

.menu li li a:hover {
	border: none;
	color: #b9262d;
	background: #f5f5f5 !important;
	background-image: none;

	filter: none;
}

.menu li li:hover {
	background: #f5f5f5 !important;

	filter: none;
}

.menu ul > li + li {
	border-top: 0;
}

.menu li li:hover > ul {
	top: 0;
	left: 100%;
}

.menu > li:first-child > a {
	border-left: none;
}

.menu a#responsive_menu_button {
	display: none;
}

.main-nav #responsive_current_menu_item {
	display: none;
}



/* =Primary Main Menu IE Fixes
-------------------------------------------------------------- */
.ie7 .menu ul {
	background: url(../../core/images/ie7-fix.gif) repeat;
}

.ie7 .menu li li a {
	min-width: 100%;
}
/* -----------END MAIN MENU-----------*/
